<div class="container-h-c">
  <input matInput name="api" [(ngModel)]="api" />
  <button mat-raised-button color="accent" (click)="saveAPI()">Save</button>
</div>

<mat-tab-group>
  <mat-tab label="Sample Query">
    <canvas id="Popularity over Time">{{ popularity }}</canvas>
    <div class="year-input">
      <input matInput name="startYear" [(ngModel)]="startYear" />
      <input matInput name="endYear" [(ngModel)]="endYear" />
      <button mat-raised-button color="accent" (click)="submit()">
        Submit
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Query 2"> </mat-tab>
</mat-tab-group>

<!-- Code used to update Country Comparsions -->
<div class="regions">
  <div class="dropdown">
    <mat-form-field>
      <mat-label>Region</mat-label>
      <mat-select [(ngModel)]="selectedValue1" name="region">
        <mat-option *ngFor="let region of regions" [value]="region.value">{{
          region.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Region</mat-label>
    <mat-select [(ngModel)]="selectedValue2" name="region">
      <mat-option *ngFor="let region of regions" [value]="region.value">{{
        region.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
