<mat-grid-list cols="3" rowHeight="2:3">
  <mat-grid-tile>
    <div style="
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px 20px;
        height: 90vh;
      ">
      <!-- API URL -->
      <div style="display: flex; flex-direction: row; justify-content: center; gap: 20px 20px;">
        <form>
          <mat-form-field style="width: 20vw" appearance="outline">
            <mat-label>Backend URL</mat-label>
            <input matInput #api value="{{ this.service.getAPI() }}" />
            <button *ngIf="this.service.getAPI() != api.value" matSuffix mat-icon-button color="accent" type="submit"
              (click)="this.service.saveAPI(api.value); reload()">
              <mat-icon>{{ "save" }}</mat-icon>
            </button>
          </mat-form-field>
        </form>
        <button style="width: 10vh; height: 5vh" mat-raised-button color="accent" (click)="count()">Count Tuples</button>
      </div>

      <!-- INPUT PARAMS -->
      <div style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px 20px;
        ">
        <!-- YEAR RANGE -->
        <mat-card style="width: 30vw; padding: 20px">
          <mat-card-title>{{
            "Year Range: " + years.selected_min + " to " + years.selected_max
            }}</mat-card-title>
          <mat-slider min="{{ years.min }}" max="{{ years.max }}">
            <input [(ngModel)]="years.selected_min" matSliderStartThumb />
            <input [(ngModel)]="years.selected_max" matSliderEndThumb />
          </mat-slider>
        </mat-card>

        <!-- ATTRIBUTES -->
        <mat-card *ngIf="[0,2].includes(tabIndex)" style="
            width: 30vw;
            padding-top: 40px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
          ">
          <div style="
              display: flex;
              direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px 20px;
            ">
            <mat-form-field appearance="outline">
              <mat-label>Attribute 1</mat-label>
              <mat-select [(ngModel)]="attributes.selected_1" name="selected_1">
                <mat-option *ngFor="let attribute of attributes.list" [value]="attribute">{{ attribute }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-card-subtitle *ngIf="[2].includes(tabIndex)">AND</mat-card-subtitle>
            <mat-form-field *ngIf="[2].includes(tabIndex)" appearance="outline">
              <mat-label>Attribute 2</mat-label>
              <mat-select [(ngModel)]="attributes.selected_2" name="selected_2">
                <mat-option *ngFor="let attribute of attributes.list" [value]="attribute">{{ attribute }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>

        <!-- REGIONS -->
        <mat-card *ngIf="[4].includes(tabIndex)" style="
            width: 30vw;
            padding-top: 40px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
          ">
          <div style="
              display: flex;
              direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px 20px;
            ">
            <mat-form-field appearance="outline">
              <mat-label>Region 1</mat-label>
              <mat-select [(ngModel)]="regions.selected_1" name="selected_1">
                <mat-option *ngFor="let region of regions.list" [value]="region">{{ region }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-card-subtitle>VS</mat-card-subtitle>
            <mat-form-field appearance="outline">
              <mat-label>Region 2</mat-label>
              <mat-select [(ngModel)]="regions.selected_2" name="selected_2">
                <mat-option *ngFor="let region of regions.list" [value]="region">{{ region }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>

        <!-- SUBREGIONS -->
        <mat-card *ngIf="[1].includes(tabIndex)" style="
            width: 30vw;
            padding-top: 40px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
          ">
          <div style="
              display: flex;
              direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px 20px;
            ">
            <mat-form-field appearance="outline">
              <mat-label>Subregion</mat-label>
              <mat-select [(ngModel)]="subregions.selected" name="selected">
                <mat-option *ngFor="let subregion of subregions.list" [value]="subregion">{{ subregion }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>

        <!-- GENRE (VS GENRE) -->
        <div>
          <mat-card *ngIf="[2, 3].includes(tabIndex)"
            style="width: 30vw; padding-top: 40px; padding-left: 20px; padding-bottom: 20px; padding-right: 20px;">
            <div style="display: flex; direction: row;justify-content: center; align-items: center; gap: 20px 20px">
              <mat-form-field appearance="outline">
                <mat-label>Genre 1</mat-label>
                <input matInput [formControl]="genre_1.control" [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="updateGenre1($event)">
                  <mat-option *ngFor="let option of genre_1.filter | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-card-subtitle *ngIf="[3].includes(tabIndex)">VS</mat-card-subtitle>
              <mat-form-field *ngIf="[3].includes(tabIndex)" appearance="outline">
                <mat-label>Genre 2</mat-label>
                <input matInput [formControl]="genre_2.control" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="updateGenre2($event)">
                  <mat-option *ngFor="let option of genre_2.filter | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </mat-card>
        </div>
      </div>

      <!-- SUBMIT (and possibly other) BUTTONS -->
      <div style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 20px 20px;
        ">
        <button style="width: 25vh" mat-raised-button color="accent" (click)="submit()">
          Submit
        </button>
        <!-- <button style="width: 25vh;" mat-raised-button color="accent" (click)="test()">Test</button> -->
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <!-- TABS -->
    <mat-tab-group (selectedTabChange)="updateTabIndex($event)" mat-stretch-tabs="false" mat-align-tabs="center"
      headerPosition="below" animationDuration="0ms" preserveContent>
      <mat-tab label="Popularity Query">
        <canvas style="width: 60vw; padding-bottom: 20px;" id="popularity_chart"></canvas>
      </mat-tab>
      <mat-tab label="Explicit Tracks">
        <canvas style="width: 60vw; padding-bottom: 20px;" id="explicit_chart"></canvas>
      </mat-tab>
      <mat-tab label="Attribute Comparison">
        <canvas style="width: 60vw; padding-bottom: 20px;" id="attribute_chart"></canvas>
      </mat-tab>
      <mat-tab label="Genre">
        <canvas style="width: 60vw; padding-bottom: 20px;" id="genre_chart"></canvas>
      </mat-tab>
      <mat-tab label="Title Length">
        <canvas style="width: 60vw; padding-bottom: 20px;" id="title_chart"></canvas>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
</mat-grid-list>